body{
    margin: 0;  
    min-height: 100vh;
    padding: 0;
}

.body{
      background-color: #1f2937;
      padding: 20px;
      flex-shrink: 0;
}

.header{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding:30px;
    padding: 0px;
}

ul ,a {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 20px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 18px;
}

.main-container{
    display: flex;
    flex:1;
    margin: 200px;
    margin-top: 10px;
    flex-direction: column;
    background-color: #1f2937;
    
}

.image_placeholder{
    display: flex;
    flex-wrap: wrap;
    background: url('loading.gif') no-repeat;
    width:500px;
    height:300px;
  }

.second-container{
    display: flex;
    padding: 39px 20px;
    gap:100px;
    color: white;
  }

.awesome-container{
    height:300px;
    width:750px;
  }

.img-container{
    display: flex;
    
  }

.awesome-container > button{
    padding:10px 30px;
    background-color: #3882f6;
    font-weight: 800;
    color:white;
    margin-top: 20px;
  }
  .awesome-container > h1{
    font-size: 45px;
  }


.main-container2{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    padding: 100px;


}
.image-pic{
    background: url('loading.gif') no-repeat;
    width:200px;
    height:200px;
    border: 2px solid blue;
    border-radius: 8px;
    padding: 5px;
}

.image-flexbox{
    display: flex;
    gap:90px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 
}

.text-image{
    width:200px;
}

.main-container2 > h1{
  font-weight: 900;
  font-size: 32px;
  padding: 10px;
}

.main-container3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  padding: 50px;
}

.third-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1000px;
  justify-content: center;
}

.quote-text{
  display: flex;
  font-size: 36px;
  font-style: italic;

}

.author-text{
  display: flex;
  font-size: 20px;
  font-weight: bold;

}
.third-container1{
  display: flex;
  flex-direction: row;
  width: 1000px;
  justify-content: flex-end;
}

.main-container4{
  display: flex;
  align-items: center;
  padding:50px;
  justify-content: center;
 
}

.fourth-column{
  display: flex;
  flex-direction: column;

}

.fourth-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  background-color: #3882f6;
  padding: 30px;
  border-radius: 8px;
  margin: 100px;
}

.fourth-button{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.fourth-button > button {
   padding:10px 30px;
   border: white;
   background-color: #3882f6;
   color: white;
   font-weight: 800;
   border: 2px solid white;
}

.bold-text{
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.normal-text{
  color: white;
}

.footer{
  display: flex;
  flex-direction: column;
  flex:1;
  background-color: #1f2937;
  align-items: center;
  justify-content: flex-end;
  color: white;
}